$menu-home: "\e900";
$menu-home2: "\e901";
$menu-home3: "\e902";
$menu-home4: "\e903";
$menu-home5: "\e904";
$menu-home6: "\e905";
$menu-home7: "\e906";
$menu-home8: "\e907";
$menu-home9: "\e908";
$menu-office: "\e909";
$menu-city: "\e90a";
$menu-newspaper: "\e90b";
$menu-magazine: "\e90c";
$menu-design: "\e90d";
$menu-pencil: "\e90e";
$menu-pencil2: "\e90f";
$menu-pencil3: "\e910";
$menu-pencil4: "\e911";
$menu-pencil5: "\e912";
$menu-pencil6: "\e913";
$menu-pencil7: "\e914";
$menu-eraser: "\e915";
$menu-eraser2: "\e916";
$menu-eraser3: "\e917";
$menu-quill: "\e918";
$menu-quill2: "\e919";
$menu-quill3: "\e91a";
$menu-quill4: "\e91b";
$menu-pen: "\e91c";
$menu-pen-plus: "\e91d";
$menu-pen-minus: "\e91e";
$menu-pen2: "\e91f";
$menu-pen3: "\e920";
$menu-pen4: "\e921";
$menu-pen5: "\e922";
$menu-marker: "\e923";
$menu-marker2: "\e924";
$menu-blog: "\e925";
$menu-blog2: "\e926";
$menu-pen6: "\e927";
$menu-brush: "\e928";
$menu-spray: "\e929";
$menu-palette: "\e92a";
$menu-palette2: "\e92b";
$menu-color-sampler: "\e92c";
$menu-toggle: "\e92d";
$menu-bucket: "\e92e";
$menu-bucket2: "\e92f";
$menu-gradient: "\e930";
$menu-eyedropper: "\e931";
$menu-eyedropper2: "\e932";
$menu-eyedropper3: "\e933";
$menu-droplet: "\e934";
$menu-droplet2: "\e935";
$menu-droplet-contrast: "\e936";
$menu-color-clear: "\e937";
$menu-paint-format: "\e938";
$menu-stamp: "\e939";
$menu-images: "\e93a";
$menu-image: "\e93b";
$menu-image2: "\e93c";
$menu-image-compare: "\e93d";
$menu-images2: "\e93e";
$menu-image3: "\e93f";
$menu-images3: "\e940";
$menu-image4: "\e941";
$menu-image5: "\e942";
$menu-image6: "\e943";
$menu-camera: "\e944";
$menu-camera2: "\e945";
$menu-camera3: "\e946";
$menu-shutter: "\e947";
$menu-headphones: "\e948";
$menu-headset: "\e949";
$menu-music: "\e94a";
$menu-music2: "\e94b";
$menu-music3: "\e94c";
$menu-music4: "\e94d";
$menu-music5: "\e94e";
$menu-music6: "\e94f";
$menu-album: "\e950";
$menu-cassette: "\e951";
$menu-tape: "\e952";
$menu-piano: "\e953";
$menu-guitar: "\e954";
$menu-trumpet: "\e955";
$menu-speakers: "\e956";
$menu-play: "\e957";
$menu-play2: "\e958";
$menu-clapboard-play: "\e959";
$menu-clapboard: "\e95a";
$menu-media: "\e95b";
$menu-presentation: "\e95c";
$menu-movie: "\e95d";
$menu-film: "\e95e";
$menu-film2: "\e95f";
$menu-film3: "\e960";
$menu-film4: "\e961";
$menu-video-camera: "\e962";
$menu-video-camera2: "\e963";
$menu-video-camera-slash: "\e964";
$menu-video-camera3: "\e965";
$menu-video-camera4: "\e966";
$menu-video-camera-slash2: "\e967";
$menu-video-camera5: "\e968";
$menu-recording: "\e969";
$menu-dice: "\e96a";
$menu-gamepad: "\e96b";
$menu-gamepad2: "\e96c";
$menu-gamepad3: "\e96d";
$menu-pacman: "\e96e";
$menu-spades: "\e96f";
$menu-clubs: "\e970";
$menu-diamonds: "\e971";
$menu-chess-king: "\e972";
$menu-chess-queen: "\e973";
$menu-chess-rook: "\e974";
$menu-chess-bishop: "\e975";
$menu-chess-knight: "\e976";
$menu-chess-pawn: "\e977";
$menu-chess: "\e978";
$menu-bullhorn: "\e979";
$menu-megaphone: "\e97a";
$menu-new: "\e97b";
$menu-connection: "\e97c";
$menu-connection2: "\e97d";
$menu-connection3: "\e97e";
$menu-connection4: "\e97f";
$menu-podcast: "\e980";
$menu-station: "\e981";
$menu-station2: "\e982";
$menu-antenna: "\e983";
$menu-satellite-dish: "\e984";
$menu-satellite-dish2: "\e985";
$menu-feed: "\e986";
$menu-podcast2: "\e987";
$menu-antenna2: "\e988";
$menu-mic: "\e989";
$menu-mic-off: "\e98a";
$menu-mic2: "\e98b";
$menu-mic-off2: "\e98c";
$menu-mic3: "\e98d";
$menu-mic4: "\e98e";
$menu-mic5: "\e98f";
$menu-book: "\e990";
$menu-book2: "\e991";
$menu-book-play: "\e992";
$menu-book3: "\e993";
$menu-bookmark: "\e994";
$menu-books: "\e995";
$menu-archive: "\e996";
$menu-reading: "\e997";
$menu-library: "\e998";
$menu-library2: "\e999";
$menu-graduation: "\e99a";
$menu-file-text: "\e99b";
$menu-profile: "\e99c";
$menu-file-empty: "\e99d";
$menu-file-empty2: "\e99e";
$menu-files-empty: "\e99f";
$menu-files-empty2: "\e9a0";
$menu-file-plus: "\e9a1";
$menu-file-plus2: "\e9a2";
$menu-file-minus: "\e9a3";
$menu-file-minus2: "\e9a4";
$menu-file-download: "\e9a5";
$menu-file-download2: "\e9a6";
$menu-file-upload: "\e9a7";
$menu-file-upload2: "\e9a8";
$menu-file-check: "\e9a9";
$menu-file-check2: "\e9aa";
$menu-file-eye: "\e9ab";
$menu-file-eye2: "\e9ac";
$menu-file-text2: "\e9ad";
$menu-file-text3: "\e9ae";
$menu-file-picture: "\e9af";
$menu-file-picture2: "\e9b0";
$menu-file-music: "\e9b1";
$menu-file-music2: "\e9b2";
$menu-file-play: "\e9b3";
$menu-file-play2: "\e9b4";
$menu-file-video: "\e9b5";
$menu-file-video2: "\e9b6";
$menu-copy: "\e9b7";
$menu-copy2: "\e9b8";
$menu-file-zip: "\e9b9";
$menu-file-zip2: "\e9ba";
$menu-file-xml: "\e9bb";
$menu-file-xml2: "\e9bc";
$menu-file-css: "\e9bd";
$menu-file-css2: "\e9be";
$menu-file-presentation: "\e9bf";
$menu-file-presentation2: "\e9c0";
$menu-file-stats: "\e9c1";
$menu-file-stats2: "\e9c2";
$menu-file-locked: "\e9c3";
$menu-file-locked2: "\e9c4";
$menu-file-spreadsheet: "\e9c5";
$menu-file-spreadsheet2: "\e9c6";
$menu-copy3: "\e9c7";
$menu-copy4: "\e9c8";
$menu-paste: "\e9c9";
$menu-paste2: "\e9ca";
$menu-paste3: "\e9cb";
$menu-paste4: "\e9cc";
$menu-stack: "\e9cd";
$menu-stack2: "\e9ce";
$menu-stack3: "\e9cf";
$menu-folder: "\e9d0";
$menu-folder-search: "\e9d1";
$menu-folder-download: "\e9d2";
$menu-folder-upload: "\e9d3";
$menu-folder-plus: "\e9d4";
$menu-folder-plus2: "\e9d5";
$menu-folder-minus: "\e9d6";
$menu-folder-minus2: "\e9d7";
$menu-folder-check: "\e9d8";
$menu-folder-heart: "\e9d9";
$menu-folder-remove: "\e9da";
$menu-folder2: "\e9db";
$menu-folder-open: "\e9dc";
$menu-folder3: "\e9dd";
$menu-folder4: "\e9de";
$menu-folder-plus3: "\e9df";
$menu-folder-minus3: "\e9e0";
$menu-folder-plus4: "\e9e1";
$menu-folder-minus4: "\e9e2";
$menu-folder-download2: "\e9e3";
$menu-folder-upload2: "\e9e4";
$menu-folder-download3: "\e9e5";
$menu-folder-upload3: "\e9e6";
$menu-folder5: "\e9e7";
$menu-folder-open2: "\e9e8";
$menu-folder6: "\e9e9";
$menu-folder-open3: "\e9ea";
$menu-certificate: "\e9eb";
$menu-cc: "\e9ec";
$menu-price-tag: "\e9ed";
$menu-price-tag2: "\e9ee";
$menu-price-tags: "\e9ef";
$menu-price-tag3: "\e9f0";
$menu-price-tags2: "\e9f1";
$menu-price-tag4: "\e9f2";
$menu-price-tags3: "\e9f3";
$menu-price-tag5: "\e9f4";
$menu-price-tags4: "\e9f5";
$menu-barcode: "\e9f6";
$menu-barcode2: "\e9f7";
$menu-qrcode: "\e9f8";
$menu-ticket: "\e9f9";
$menu-ticket2: "\e9fa";
$menu-theater: "\e9fb";
$menu-store: "\e9fc";
$menu-store2: "\e9fd";
$menu-cart: "\e9fe";
$menu-cart2: "\e9ff";
$menu-cart3: "\ea00";
$menu-cart4: "\ea01";
$menu-cart5: "\ea02";
$menu-cart-add: "\ea03";
$menu-cart-add2: "\ea04";
$menu-cart-remove: "\ea05";
$menu-basket: "\ea06";
$menu-bag: "\ea07";
$menu-bag2: "\ea08";
$menu-percent: "\ea09";
$menu-coins: "\ea0a";
$menu-coin-dollar: "\ea0b";
$menu-coin-euro: "\ea0c";
$menu-coin-pound: "\ea0d";
$menu-coin-yen: "\ea0e";
$menu-piggy-bank: "\ea0f";
$menu-wallet: "\ea10";
$menu-cash: "\ea11";
$menu-cash2: "\ea12";
$menu-cash3: "\ea13";
$menu-cash4: "\ea14";
$menu-credit-card: "\ea15";
$menu-credit-card2: "\ea16";
$menu-calculator: "\ea17";
$menu-calculator2: "\ea18";
$menu-calculator3: "\ea19";
$menu-chip: "\ea1a";
$menu-lifebuoy: "\ea1b";
$menu-phone: "\ea1c";
$menu-phone2: "\ea1d";
$menu-phone-slash: "\ea1e";
$menu-phone-wave: "\ea1f";
$menu-phone-plus: "\ea20";
$menu-phone-minus: "\ea21";
$menu-phone-plus2: "\ea22";
$menu-phone-minus2: "\ea23";
$menu-phone-incoming: "\ea24";
$menu-phone-outgoing: "\ea25";
$menu-phone3: "\ea26";
$menu-phone-slash2: "\ea27";
$menu-phone-wave2: "\ea28";
$menu-phone-hang-up: "\ea29";
$menu-phone-hang-up2: "\ea2a";
$menu-address-book: "\ea2b";
$menu-address-book2: "\ea2c";
$menu-address-book3: "\ea2d";
$menu-notebook: "\ea2e";
$menu-at-sign: "\ea2f";
$menu-envelop: "\ea30";
$menu-envelop2: "\ea31";
$menu-envelop3: "\ea32";
$menu-envelop4: "\ea33";
$menu-envelop5: "\ea34";
$menu-mailbox: "\ea35";
$menu-pushpin: "\ea36";
$menu-pushpin2: "\ea37";
$menu-location: "\ea38";
$menu-location2: "\ea39";
$menu-location3: "\ea3a";
$menu-location4: "\ea3b";
$menu-location5: "\ea3c";
$menu-location6: "\ea3d";
$menu-location7: "\ea3e";
$menu-compass: "\ea3f";
$menu-compass2: "\ea40";
$menu-compass3: "\ea41";
$menu-compass4: "\ea42";
$menu-compass5: "\ea43";
$menu-compass6: "\ea44";
$menu-map: "\ea45";
$menu-map2: "\ea46";
$menu-map3: "\ea47";
$menu-map4: "\ea48";
$menu-map5: "\ea49";
$menu-direction: "\ea4a";
$menu-reset: "\ea4b";
$menu-history: "\ea4c";
$menu-clock: "\ea4d";
$menu-clock2: "\ea4e";
$menu-clock3: "\ea4f";
$menu-clock4: "\ea50";
$menu-watch: "\ea51";
$menu-watch2: "\ea52";
$menu-alarm: "\ea53";
$menu-alarm-add: "\ea54";
$menu-alarm-check: "\ea55";
$menu-alarm-cancel: "\ea56";
$menu-bell: "\ea57";
$menu-bell2: "\ea58";
$menu-bell3: "\ea59";
$menu-bell-plus: "\ea5a";
$menu-bell-minus: "\ea5b";
$menu-bell-check: "\ea5c";
$menu-bell-cross: "\ea5d";
$menu-stopwatch: "\ea5e";
$menu-calendar: "\ea5f";
$menu-calendar2: "\ea60";
$menu-calendar3: "\ea61";
$menu-calendar4: "\ea62";
$menu-calendar5: "\ea63";
$menu-calendar-empty: "\ea64";
$menu-calendar-day: "\ea65";
$menu-calendar-week: "\ea66";
$menu-printer: "\ea67";
$menu-printer2: "\ea68";
$menu-printer3: "\ea69";
$menu-printer4: "\ea6a";
$menu-shredder: "\ea6b";
$menu-mouse: "\ea6c";
$menu-mouse2: "\ea6d";
$menu-mouse-left: "\ea6e";
$menu-mouse-right: "\ea6f";
$menu-keyboard: "\ea70";
$menu-keyboard2: "\ea71";
$menu-typewriter: "\ea72";
$menu-display: "\ea73";
$menu-display2: "\ea74";
$menu-display3: "\ea75";
$menu-display4: "\ea76";
$menu-laptop: "\ea77";
$menu-mobile: "\ea78";
$menu-mobile2: "\ea79";
$menu-tablet: "\ea7a";
$menu-mobile3: "\ea7b";
$menu-tv: "\ea7c";
$menu-radio: "\ea7d";
$menu-cabinet: "\ea7e";
$menu-drawer: "\ea7f";
$menu-drawer2: "\ea80";
$menu-drawer-out: "\ea81";
$menu-drawer-in: "\ea82";
$menu-drawer3: "\ea83";
$menu-box: "\ea84";
$menu-box-add: "\ea85";
$menu-box-remove: "\ea86";
$menu-download: "\ea87";
$menu-upload: "\ea88";
$menu-floppy-disk: "\ea89";
$menu-floppy-disks: "\ea8a";
$menu-floppy-disks2: "\ea8b";
$menu-floppy-disk2: "\ea8c";
$menu-floppy-disk3: "\ea8d";
$menu-disk: "\ea8e";
$menu-disk2: "\ea8f";
$menu-usb-stick: "\ea90";
$menu-drive: "\ea91";
$menu-server: "\ea92";
$menu-database: "\ea93";
$menu-database2: "\ea94";
$menu-database3: "\ea95";
$menu-database4: "\ea96";
$menu-database-menu: "\ea97";
$menu-database-add: "\ea98";
$menu-database-remove: "\ea99";
$menu-database-insert: "\ea9a";
$menu-database-export: "\ea9b";
$menu-database-upload: "\ea9c";
$menu-database-refresh: "\ea9d";
$menu-database-diff: "\ea9e";
$menu-database-edit: "\ea9f";
$menu-database-edit2: "\eaa0";
$menu-database-check: "\eaa1";
$menu-database-arrow: "\eaa2";
$menu-database-time: "\eaa3";
$menu-database-time2: "\eaa4";
$menu-undo: "\eaa5";
$menu-redo: "\eaa6";
$menu-rotate-ccw: "\eaa7";
$menu-rotate-cw: "\eaa8";
$menu-rotate-ccw2: "\eaa9";
$menu-rotate-cw2: "\eaaa";
$menu-rotate-ccw3: "\eaab";
$menu-rotate-cw3: "\eaac";
$menu-flip-vertical: "\eaad";
$menu-flip-vertical2: "\eaae";
$menu-flip-horizontal: "\eaaf";
$menu-flip-horizontal2: "\eab0";
$menu-flip-vertical3: "\eab1";
$menu-flip-vertical4: "\eab2";
$menu-angle: "\eab3";
$menu-shear: "\eab4";
$menu-unite: "\eab5";
$menu-subtract: "\eab6";
$menu-interset: "\eab7";
$menu-exclude: "\eab8";
$menu-align-left: "\eab9";
$menu-align-center-horizontal: "\eaba";
$menu-align-right: "\eabb";
$menu-align-top: "\eabc";
$menu-align-center-vertical: "\eabd";
$menu-align-bottom: "\eabe";
$menu-undo2: "\eabf";
$menu-redo2: "\eac0";
$menu-forward: "\eac1";
$menu-reply: "\eac2";
$menu-reply-all: "\eac3";
$menu-bubble: "\eac4";
$menu-bubbles: "\eac5";
$menu-bubbles2: "\eac6";
$menu-bubble2: "\eac7";
$menu-bubbles3: "\eac8";
$menu-bubbles4: "\eac9";
$menu-bubble-notification: "\eaca";
$menu-bubbles5: "\eacb";
$menu-bubbles6: "\eacc";
$menu-bubble3: "\eacd";
$menu-bubble-dots: "\eace";
$menu-bubble-lines: "\eacf";
$menu-bubble4: "\ead0";
$menu-bubble-dots2: "\ead1";
$menu-bubble-lines2: "\ead2";
$menu-bubble5: "\ead3";
$menu-bubble6: "\ead4";
$menu-bubbles7: "\ead5";
$menu-bubble7: "\ead6";
$menu-bubbles8: "\ead7";
$menu-bubble8: "\ead8";
$menu-bubble-dots3: "\ead9";
$menu-bubble-lines3: "\eada";
$menu-bubble9: "\eadb";
$menu-bubble-dots4: "\eadc";
$menu-bubble-lines4: "\eadd";
$menu-bubbles9: "\eade";
$menu-bubbles10: "\eadf";
$menu-bubble-blocked: "\eae0";
$menu-bubble-quote: "\eae1";
$menu-bubble-user: "\eae2";
$menu-bubble-smiley: "\eae3";
$menu-bubble-check: "\eae4";
$menu-bubble-video: "\eae5";
$menu-bubble-link: "\eae6";
$menu-bubble-lock: "\eae7";
$menu-bubble-star: "\eae8";
$menu-bubble-heart: "\eae9";
$menu-bubble-paperclip: "\eaea";
$menu-bubble-cancel: "\eaeb";
$menu-bubble-plus: "\eaec";
$menu-bubble-minus: "\eaed";
$menu-bubble-notification2: "\eaee";
$menu-bubble-left: "\eaef";
$menu-bubble-right: "\eaf0";
$menu-bubble-first: "\eaf1";
$menu-bubble-last: "\eaf2";
$menu-bubble-reply: "\eaf3";
$menu-bubble-forward: "\eaf4";
$menu-bubble-reply2: "\eaf5";
$menu-bubble-forward2: "\eaf6";
$menu-user: "\eaf7";
$menu-users: "\eaf8";
$menu-user-plus: "\eaf9";
$menu-user-minus: "\eafa";
$menu-user-cancel: "\eafb";
$menu-user-block: "\eafc";
$menu-user-lock: "\eafd";
$menu-user-check: "\eafe";
$menu-users2: "\eaff";
$menu-user2: "\eb00";
$menu-users3: "\eb01";
$menu-user-plus2: "\eb02";
$menu-user-minus2: "\eb03";
$menu-user-cancel2: "\eb04";
$menu-user-block2: "\eb05";
$menu-user-lock2: "\eb06";
$menu-user-check2: "\eb07";
$menu-user3: "\eb08";
$menu-user4: "\eb09";
$menu-user5: "\eb0a";
$menu-user6: "\eb0b";
$menu-users4: "\eb0c";
$menu-user-tie: "\eb0d";
$menu-user7: "\eb0e";
$menu-users5: "\eb0f";
$menu-collaboration: "\eb10";
$menu-vcard: "\eb11";
$menu-hat: "\eb12";
$menu-bowtie: "\eb13";
$menu-tie: "\eb14";
$menu-hanger: "\eb15";
$menu-tshirt: "\eb16";
$menu-pants: "\eb17";
$menu-shorts: "\eb18";
$menu-sock: "\eb19";
$menu-laundry: "\eb1a";
$menu-quotes-left: "\eb1b";
$menu-quotes-right: "\eb1c";
$menu-quotes-left2: "\eb1d";
$menu-quotes-right2: "\eb1e";
$menu-hour-glass: "\eb1f";
$menu-hour-glass2: "\eb20";
$menu-hour-glass3: "\eb21";
$menu-spinner: "\eb22";
$menu-spinner2: "\eb23";
$menu-spinner3: "\eb24";
$menu-spinner4: "\eb25";
$menu-spinner5: "\eb26";
$menu-spinner6: "\eb27";
$menu-spinner7: "\eb28";
$menu-spinner8: "\eb29";
$menu-spinner9: "\eb2a";
$menu-spinner10: "\eb2b";
$menu-spinner11: "\eb2c";
$menu-microscope: "\eb2d";
$menu-binoculars: "\eb2e";
$menu-binoculars2: "\eb2f";
$menu-search: "\eb30";
$menu-zoom-in: "\eb31";
$menu-zoom-out: "\eb32";
$menu-search2: "\eb33";
$menu-zoom-in2: "\eb34";
$menu-zoom-out2: "\eb35";
$menu-search3: "\eb36";
$menu-search4: "\eb37";
$menu-zoom-in3: "\eb38";
$menu-zoom-out3: "\eb39";
$menu-search5: "\eb3a";
$menu-search6: "\eb3b";
$menu-enlarge: "\eb3c";
$menu-shrink: "\eb3d";
$menu-enlarge2: "\eb3e";
$menu-shrink2: "\eb3f";
$menu-enlarge3: "\eb40";
$menu-shrink3: "\eb41";
$menu-enlarge4: "\eb42";
$menu-shrink4: "\eb43";
$menu-enlarge5: "\eb44";
$menu-shrink5: "\eb45";
$menu-enlarge6: "\eb46";
$menu-shrink6: "\eb47";
$menu-enlarge7: "\eb48";
$menu-shrink7: "\eb49";
$menu-key: "\eb4a";
$menu-key2: "\eb4b";
$menu-key3: "\eb4c";
$menu-key4: "\eb4d";
$menu-key5: "\eb4e";
$menu-keyhole: "\eb4f";
$menu-lock: "\eb50";
$menu-lock2: "\eb51";
$menu-lock3: "\eb52";
$menu-lock4: "\eb53";
$menu-unlocked: "\eb54";
$menu-lock5: "\eb55";
$menu-unlocked2: "\eb56";
$menu-safe: "\eb57";
$menu-wrench: "\eb58";
$menu-wrench2: "\eb59";
$menu-wrench3: "\eb5a";
$menu-equalizer: "\eb5b";
$menu-equalizer2: "\eb5c";
$menu-equalizer3: "\eb5d";
$menu-equalizer4: "\eb5e";
$menu-cog: "\eb5f";
$menu-cogs: "\eb60";
$menu-cog2: "\eb61";
$menu-cog3: "\eb62";
$menu-cog4: "\eb63";
$menu-cog5: "\eb64";
$menu-cog6: "\eb65";
$menu-cog7: "\eb66";
$menu-factory: "\eb67";
$menu-hammer: "\eb68";
$menu-hammer-wrench: "\eb69";
$menu-knife: "\eb6a";
$menu-screwdriver: "\eb6b";
$menu-screwdriver2: "\eb6c";
$menu-magic-wand: "\eb6d";
$menu-magic-wand2: "\eb6e";
$menu-pulse: "\eb6f";
$menu-pulse2: "\eb70";
$menu-aid-kit: "\eb71";
$menu-aid-kit2: "\eb72";
$menu-stethoscope: "\eb73";
$menu-ambulance: "\eb74";
$menu-alarm2: "\eb75";
$menu-pandage: "\eb76";
$menu-pandage2: "\eb77";
$menu-bug: "\eb78";
$menu-bug2: "\eb79";
$menu-syringe: "\eb7a";
$menu-syringe2: "\eb7b";
$menu-pill: "\eb7c";
$menu-construction: "\eb7d";
$menu-traffic-cone: "\eb7e";
$menu-traffic-lights: "\eb7f";
$menu-pie-chart: "\eb80";
$menu-pie-chart2: "\eb81";
$menu-pie-chart3: "\eb82";
$menu-pie-chart4: "\eb83";
$menu-pie-chart5: "\eb84";
$menu-pie-chart6: "\eb85";
$menu-pie-chart7: "\eb86";
$menu-stats-dots: "\eb87";
$menu-stats-bars: "\eb88";
$menu-pie-chart8: "\eb89";
$menu-stats-bars2: "\eb8a";
$menu-stats-bars3: "\eb8b";
$menu-stats-bars4: "\eb8c";
$menu-stats-bars5: "\eb8d";
$menu-stats-bars6: "\eb8e";
$menu-chart: "\eb8f";
$menu-stats-growth: "\eb90";
$menu-stats-decline: "\eb91";
$menu-stats-growth2: "\eb92";
$menu-stats-decline2: "\eb93";
$menu-stairs-up: "\eb94";
$menu-stairs-down: "\eb95";
$menu-stairs: "\eb96";
$menu-stairs2: "\eb97";
$menu-ladder: "\eb98";
$menu-rating: "\eb99";
$menu-rating2: "\eb9a";
$menu-rating3: "\eb9b";
$menu-cake: "\eb9c";
$menu-podium: "\eb9d";
$menu-stars: "\eb9e";
$menu-medal-star: "\eb9f";
$menu-medal: "\eba0";
$menu-medal2: "\eba1";
$menu-medal-first: "\eba2";
$menu-medal-second: "\eba3";
$menu-medal-third: "\eba4";
$menu-crown: "\eba5";
$menu-trophy: "\eba6";
$menu-trophy2: "\eba7";
$menu-trophy3: "\eba8";
$menu-diamond: "\eba9";
$menu-diamond2: "\ebaa";
$menu-trophy4: "\ebab";
$menu-gift: "\ebac";
$menu-gift2: "\ebad";
$menu-balloon: "\ebae";
$menu-pipe: "\ebaf";
$menu-mustache: "\ebb0";
$menu-mustache2: "\ebb1";
$menu-glass: "\ebb2";
$menu-glass2: "\ebb3";
$menu-glass3: "\ebb4";
$menu-glass4: "\ebb5";
$menu-bottle: "\ebb6";
$menu-bottle2: "\ebb7";
$menu-bottle3: "\ebb8";
$menu-bottle4: "\ebb9";
$menu-mug: "\ebba";
$menu-fork-knife: "\ebbb";
$menu-spoon-knife: "\ebbc";
$menu-cook: "\ebbd";
$menu-plate: "\ebbe";
$menu-steak: "\ebbf";
$menu-fish: "\ebc0";
$menu-chicken: "\ebc1";
$menu-hamburger: "\ebc2";
$menu-pizza: "\ebc3";
$menu-cheese: "\ebc4";
$menu-bread: "\ebc5";
$menu-icecream: "\ebc6";
$menu-milk: "\ebc7";
$menu-cup: "\ebc8";
$menu-cup2: "\ebc9";
$menu-coffee-bean: "\ebca";
$menu-coffee: "\ebcb";
$menu-teapot: "\ebcc";
$menu-leaf: "\ebcd";
$menu-leaf2: "\ebce";
$menu-apple: "\ebcf";
$menu-grapes: "\ebd0";
$menu-cherry: "\ebd1";
$menu-tree: "\ebd2";
$menu-tree2: "\ebd3";
$menu-tree3: "\ebd4";
$menu-tree4: "\ebd5";
$menu-cactus: "\ebd6";
$menu-mountains: "\ebd7";
$menu-paw: "\ebd8";
$menu-footprint: "\ebd9";
$menu-tent: "\ebda";
$menu-flower: "\ebdb";
$menu-flower2: "\ebdc";
$menu-rocket: "\ebdd";
$menu-meter: "\ebde";
$menu-meter2: "\ebdf";
$menu-meter-slow: "\ebe0";
$menu-meter-medium: "\ebe1";
$menu-meter-fast: "\ebe2";
$menu-meter3: "\ebe3";
$menu-hammer2: "\ebe4";
$menu-balance: "\ebe5";
$menu-scale: "\ebe6";
$menu-bomb: "\ebe7";
$menu-fire: "\ebe8";
$menu-fire2: "\ebe9";
$menu-lab: "\ebea";
$menu-atom: "\ebeb";
$menu-atom2: "\ebec";
$menu-magnet: "\ebed";
$menu-magnet2: "\ebee";
$menu-dumbbell: "\ebef";
$menu-skull: "\ebf0";
$menu-skull2: "\ebf1";
$menu-lamp: "\ebf2";
$menu-lamp2: "\ebf3";
$menu-lamp3: "\ebf4";
$menu-spotlight: "\ebf5";
$menu-lamp4: "\ebf6";
$menu-lamp5: "\ebf7";
$menu-lamp6: "\ebf8";
$menu-lamp7: "\ebf9";
$menu-lamp8: "\ebfa";
$menu-broom: "\ebfb";
$menu-toiletpaper: "\ebfc";
$menu-bin: "\ebfd";
$menu-bin2: "\ebfe";
$menu-bin3: "\ebff";
$menu-bin4: "\ec00";
$menu-bin5: "\ec01";
$menu-briefcase: "\ec02";
$menu-briefcase2: "\ec03";
$menu-briefcase3: "\ec04";
$menu-airplane: "\ec05";
$menu-airplane2: "\ec06";
$menu-airplane3: "\ec07";
$menu-airplane4: "\ec08";
$menu-paperplane: "\ec09";
$menu-car: "\ec0a";
$menu-steering-wheel: "\ec0b";
$menu-car2: "\ec0c";
$menu-gas: "\ec0d";
$menu-bus: "\ec0e";
$menu-truck: "\ec0f";
$menu-bike: "\ec10";
$menu-road: "\ec11";
$menu-train: "\ec12";
$menu-train2: "\ec13";
$menu-ship: "\ec14";
$menu-boat: "\ec15";
$menu-chopper: "\ec16";
$menu-chopper2: "\ec17";
$menu-cube: "\ec18";
$menu-cube2: "\ec19";
$menu-cube3: "\ec1a";
$menu-cube4: "\ec1b";
$menu-pyramid: "\ec1c";
$menu-pyramid2: "\ec1d";
$menu-package: "\ec1e";
$menu-puzzle: "\ec1f";
$menu-puzzle2: "\ec20";
$menu-puzzle3: "\ec21";
$menu-puzzle4: "\ec22";
$menu-glasses-3d: "\ec23";
$menu-glasses-3d2: "\ec24";
$menu-glasses: "\ec25";
$menu-glasses2: "\ec26";
$menu-brain: "\ec27";
$menu-accessibility: "\ec28";
$menu-accessibility2: "\ec29";
$menu-strategy: "\ec2a";
$menu-target: "\ec2b";
$menu-target2: "\ec2c";
$menu-target3: "\ec2d";
$menu-ammo: "\ec2e";
$menu-gun: "\ec2f";
$menu-gun-forbidden: "\ec30";
$menu-shield: "\ec31";
$menu-shield-check: "\ec32";
$menu-shield-notice: "\ec33";
$menu-shield2: "\ec34";
$menu-shield3: "\ec35";
$menu-shield4: "\ec36";
$menu-soccer: "\ec37";
$menu-football: "\ec38";
$menu-archery: "\ec39";
$menu-bow: "\ec3a";
$menu-sword: "\ec3b";
$menu-tennis: "\ec3c";
$menu-pingpong: "\ec3d";
$menu-baseball: "\ec3e";
$menu-basketball: "\ec3f";
$menu-golf: "\ec40";
$menu-golf2: "\ec41";
$menu-hockey: "\ec42";
$menu-racing: "\ec43";
$menu-finish: "\ec44";
$menu-eight-ball: "\ec45";
$menu-bowling: "\ec46";
$menu-bowling2: "\ec47";
$menu-power: "\ec48";
$menu-power2: "\ec49";
$menu-power3: "\ec4a";
$menu-switch: "\ec4b";
$menu-switch2: "\ec4c";
$menu-power-cord: "\ec4d";
$menu-power-cord2: "\ec4e";
$menu-outlet: "\ec4f";
$menu-clipboard: "\ec50";
$menu-clipboard2: "\ec51";
$menu-clipboard3: "\ec52";
$menu-clipboard4: "\ec53";
$menu-clipboard5: "\ec54";
$menu-clipboard6: "\ec55";
$menu-playlist: "\ec56";
$menu-playlist-add: "\ec57";
$menu-list-numbered: "\ec58";
$menu-list: "\ec59";
$menu-list2: "\ec5a";
$menu-more: "\ec5b";
$menu-more2: "\ec5c";
$menu-grid: "\ec5d";
$menu-grid2: "\ec5e";
$menu-grid3: "\ec5f";
$menu-grid4: "\ec60";
$menu-grid5: "\ec61";
$menu-grid6: "\ec62";
$menu-grid7: "\ec63";
$menu-tree5: "\ec64";
$menu-tree6: "\ec65";
$menu-tree7: "\ec66";
$menu-lan: "\ec67";
$menu-lan2: "\ec68";
$menu-lan3: "\ec69";
$menu-menu: "\ec6a";
$menu-circle-small: "\ec6b";
$menu-menu2: "\ec6c";
$menu-menu3: "\ec6d";
$menu-menu4: "\ec6e";
$menu-menu5: "\ec6f";
$menu-menu6: "\ec70";
$menu-menu7: "\ec71";
$menu-menu8: "\ec72";
$menu-menu9: "\ec73";
$menu-menu10: "\ec74";
$menu-cloud: "\ec75";
$menu-cloud-download: "\ec76";
$menu-cloud-upload: "\ec77";
$menu-cloud-check: "\ec78";
$menu-cloud2: "\ec79";
$menu-cloud-download2: "\ec7a";
$menu-cloud-upload2: "\ec7b";
$menu-cloud-check2: "\ec7c";
$menu-download2: "\ec7d";
$menu-download3: "\ec7e";
$menu-upload2: "\ec7f";
$menu-upload3: "\ec80";
$menu-import: "\ec81";
$menu-import2: "\ec82";
$menu-download4: "\ec83";
$menu-upload4: "\ec84";
$menu-download5: "\ec85";
$menu-upload5: "\ec86";
$menu-download6: "\ec87";
$menu-upload6: "\ec88";
$menu-download7: "\ec89";
$menu-upload7: "\ec8a";
$menu-download8: "\ec8b";
$menu-upload8: "\ec8c";
$menu-download9: "\ec8d";
$menu-upload9: "\ec8e";
$menu-download10: "\ec8f";
$menu-upload10: "\ec90";
$menu-sphere: "\ec91";
$menu-sphere2: "\ec92";
$menu-sphere3: "\ec93";
$menu-planet: "\ec94";
$menu-planet2: "\ec95";
$menu-earth: "\ec96";
$menu-earth2: "\ec97";
$menu-earth3: "\ec98";
$menu-link: "\ec99";
$menu-unlink: "\ec9a";
$menu-link2: "\ec9b";
$menu-unlink2: "\ec9c";
$menu-link3: "\ec9d";
$menu-unlink3: "\ec9e";
$menu-link4: "\ec9f";
$menu-unlink4: "\eca0";
$menu-link5: "\eca1";
$menu-unlink5: "\eca2";
$menu-anchor: "\eca3";
$menu-flag: "\eca4";
$menu-flag2: "\eca5";
$menu-flag3: "\eca6";
$menu-flag4: "\eca7";
$menu-flag5: "\eca8";
$menu-flag6: "\eca9";
$menu-flag7: "\ecaa";
$menu-flag8: "\ecab";
$menu-attachment: "\ecac";
$menu-attachment2: "\ecad";
$menu-eye: "\ecae";
$menu-eye-plus: "\ecaf";
$menu-eye-minus: "\ecb0";
$menu-eye-blocked: "\ecb1";
$menu-eye2: "\ecb2";
$menu-eye-blocked2: "\ecb3";
$menu-eye3: "\ecb4";
$menu-eye-blocked3: "\ecb5";
$menu-eye4: "\ecb6";
$menu-bookmark2: "\ecb7";
$menu-bookmark3: "\ecb8";
$menu-bookmarks: "\ecb9";
$menu-bookmark4: "\ecba";
$menu-spotlight2: "\ecbb";
$menu-starburst: "\ecbc";
$menu-snowflake: "\ecbd";
$menu-temperature: "\ecbe";
$menu-temperature2: "\ecbf";
$menu-weather-lightning: "\ecc0";
$menu-weather-lightning2: "\ecc1";
$menu-weather-rain: "\ecc2";
$menu-weather-rain2: "\ecc3";
$menu-weather-snow: "\ecc4";
$menu-weather-snow2: "\ecc5";
$menu-weather-cloud-wind: "\ecc6";
$menu-weather-cloud-wind2: "\ecc7";
$menu-weather-cloud-sun: "\ecc8";
$menu-weather-cloud-sun2: "\ecc9";
$menu-weather-cloudy: "\ecca";
$menu-weather-cloudy2: "\eccb";
$menu-weather-sun-wind: "\eccc";
$menu-weather-sun-wind2: "\eccd";
$menu-sun: "\ecce";
$menu-sun2: "\eccf";
$menu-moon: "\ecd0";
$menu-day-night: "\ecd1";
$menu-day-night2: "\ecd2";
$menu-weather-windy: "\ecd3";
$menu-fan: "\ecd4";
$menu-umbrella: "\ecd5";
$menu-sun3: "\ecd6";
$menu-contrast: "\ecd7";
$menu-brightness-contrast: "\ecd8";
$menu-brightness-high: "\ecd9";
$menu-brightness-medium: "\ecda";
$menu-brightness-low: "\ecdb";
$menu-bed: "\ecdc";
$menu-bed2: "\ecdd";
$menu-furniture: "\ecde";
$menu-chair: "\ecdf";
$menu-star-empty: "\ece0";
$menu-star-empty2: "\ece1";
$menu-star-full: "\ece2";
$menu-star-empty3: "\ece3";
$menu-star-half: "\ece4";
$menu-star-full2: "\ece5";
$menu-star: "\ece6";
$menu-heart: "\ece7";
$menu-heart2: "\ece8";
$menu-heart3: "\ece9";
$menu-heart4: "\ecea";
$menu-heart-broken: "\eceb";
$menu-heart5: "\ecec";
$menu-heart6: "\eced";
$menu-heart-broken2: "\ecee";
$menu-heart7: "\ecef";
$menu-heart8: "\ecf0";
$menu-heart-broken3: "\ecf1";
$menu-lips: "\ecf2";
$menu-lips2: "\ecf3";
$menu-thumbs-up: "\ecf4";
$menu-thumbs-up2: "\ecf5";
$menu-thumbs-down: "\ecf6";
$menu-thumbs-down2: "\ecf7";
$menu-thumbs-up3: "\ecf8";
$menu-thumbs-down3: "\ecf9";
$menu-height: "\ecfa";
$menu-man: "\ecfb";
$menu-woman: "\ecfc";
$menu-man-woman: "\ecfd";
$menu-male: "\ecfe";
$menu-female: "\ecff";
$menu-peace: "\ed00";
$menu-yin-yang: "\ed01";
$menu-happy: "\ed02";
$menu-happy2: "\ed03";
$menu-smile: "\ed04";
$menu-smile2: "\ed05";
$menu-tongue: "\ed06";
$menu-tongue2: "\ed07";
$menu-sad: "\ed08";
$menu-sad2: "\ed09";
$menu-wink: "\ed0a";
$menu-wink2: "\ed0b";
$menu-grin: "\ed0c";
$menu-grin2: "\ed0d";
$menu-cool: "\ed0e";
$menu-cool2: "\ed0f";
$menu-angry: "\ed10";
$menu-angry2: "\ed11";
$menu-evil: "\ed12";
$menu-evil2: "\ed13";
$menu-shocked: "\ed14";
$menu-shocked2: "\ed15";
$menu-baffled: "\ed16";
$menu-baffled2: "\ed17";
$menu-confused: "\ed18";
$menu-confused2: "\ed19";
$menu-neutral: "\ed1a";
$menu-neutral2: "\ed1b";
$menu-hipster: "\ed1c";
$menu-hipster2: "\ed1d";
$menu-wondering: "\ed1e";
$menu-wondering2: "\ed1f";
$menu-sleepy: "\ed20";
$menu-sleepy2: "\ed21";
$menu-frustrated: "\ed22";
$menu-frustrated2: "\ed23";
$menu-crying: "\ed24";
$menu-crying2: "\ed25";
$menu-cursor: "\ed26";
$menu-cursor2: "\ed27";
$menu-lasso: "\ed28";
$menu-lasso2: "\ed29";
$menu-select: "\ed2a";
$menu-select2: "\ed2b";
$menu-point-up: "\ed2c";
$menu-point-right: "\ed2d";
$menu-point-down: "\ed2e";
$menu-point-left: "\ed2f";
$menu-pointer: "\ed30";
$menu-reminder: "\ed31";
$menu-drag-left-right: "\ed32";
$menu-drag-left: "\ed33";
$menu-drag-right: "\ed34";
$menu-touch: "\ed35";
$menu-multitouch: "\ed36";
$menu-touch-zoom: "\ed37";
$menu-touch-pinch: "\ed38";
$menu-hand: "\ed39";
$menu-grab: "\ed3a";
$menu-stack-empty: "\ed3b";
$menu-stack-plus: "\ed3c";
$menu-stack-minus: "\ed3d";
$menu-stack-star: "\ed3e";
$menu-stack-picture: "\ed3f";
$menu-stack-down: "\ed40";
$menu-stack-up: "\ed41";
$menu-stack-cancel: "\ed42";
$menu-stack-check: "\ed43";
$menu-stack-text: "\ed44";
$menu-stack-clubs: "\ed45";
$menu-stack-spades: "\ed46";
$menu-stack-hearts: "\ed47";
$menu-stack-diamonds: "\ed48";
$menu-stack-user: "\ed49";
$menu-stack4: "\ed4a";
$menu-stack-music: "\ed4b";
$menu-stack-play: "\ed4c";
$menu-move: "\ed4d";
$menu-dots: "\ed4e";
$menu-warning: "\ed4f";
$menu-warning2: "\ed50";
$menu-notification: "\ed51";
$menu-notification2: "\ed52";
$menu-question: "\ed53";
$menu-question2: "\ed54";
$menu-question3: "\ed55";
$menu-question4: "\ed56";
$menu-question5: "\ed57";
$menu-question6: "\ed58";
$menu-plus: "\ed59";
$menu-minus: "\ed5a";
$menu-plus2: "\ed5b";
$menu-minus2: "\ed5c";
$menu-plus3: "\ed5d";
$menu-minus3: "\ed5e";
$menu-plus-circle: "\ed5f";
$menu-minus-circle: "\ed60";
$menu-plus-circle2: "\ed61";
$menu-minus-circle2: "\ed62";
$menu-info: "\ed63";
$menu-info2: "\ed64";
$menu-cancel-circle: "\ed65";
$menu-cancel-circle2: "\ed66";
$menu-blocked: "\ed67";
$menu-cancel-square: "\ed68";
$menu-cancel-square2: "\ed69";
$menu-cancel: "\ed6a";
$menu-spam: "\ed6b";
$menu-cross: "\ed6c";
$menu-cross2: "\ed6d";
$menu-cross3: "\ed6e";
$menu-checkmark: "\ed6f";
$menu-checkmark2: "\ed70";
$menu-checkmark3: "\ed71";
$menu-checkmark4: "\ed72";
$menu-checkmark5: "\ed73";
$menu-spell-check: "\ed74";
$menu-spell-check2: "\ed75";
$menu-enter: "\ed76";
$menu-exit: "\ed77";
$menu-enter2: "\ed78";
$menu-exit2: "\ed79";
$menu-enter3: "\ed7a";
$menu-exit3: "\ed7b";
$menu-wall: "\ed7c";
$menu-fence: "\ed7d";
$menu-play3: "\ed7e";
$menu-pause: "\ed7f";
$menu-stop: "\ed80";
$menu-previous: "\ed81";
$menu-next: "\ed82";
$menu-backward: "\ed83";
$menu-forward2: "\ed84";
$menu-play4: "\ed85";
$menu-pause2: "\ed86";
$menu-stop2: "\ed87";
$menu-backward2: "\ed88";
$menu-forward3: "\ed89";
$menu-first: "\ed8a";
$menu-last: "\ed8b";
$menu-previous2: "\ed8c";
$menu-next2: "\ed8d";
$menu-eject: "\ed8e";
$menu-volume-high: "\ed8f";
$menu-volume-medium: "\ed90";
$menu-volume-low: "\ed91";
$menu-volume-mute: "\ed92";
$menu-speaker-left: "\ed93";
$menu-speaker-right: "\ed94";
$menu-volume-mute2: "\ed95";
$menu-volume-increase: "\ed96";
$menu-volume-decrease: "\ed97";
$menu-volume-high2: "\ed98";
$menu-volume-medium2: "\ed99";
$menu-volume-medium3: "\ed9a";
$menu-volume-low2: "\ed9b";
$menu-volume-mute3: "\ed9c";
$menu-volume-increase2: "\ed9d";
$menu-volume-decrease2: "\ed9e";
$menu-volume-decrease3: "\ed9f";
$menu-volume-5: "\eda0";
$menu-volume-4: "\eda1";
$menu-volume-3: "\eda2";
$menu-volume-2: "\eda3";
$menu-volume-1: "\eda4";
$menu-volume-0: "\eda5";
$menu-volume-mute4: "\eda6";
$menu-volume-mute5: "\eda7";
$menu-loop: "\eda8";
$menu-loop2: "\eda9";
$menu-loop3: "\edaa";
$menu-infinite-square: "\edab";
$menu-infinite: "\edac";
$menu-infinite2: "\edad";
$menu-loop4: "\edae";
$menu-shuffle: "\edaf";
$menu-shuffle2: "\edb0";
$menu-wave: "\edb1";
$menu-wave2: "\edb2";
$menu-split: "\edb3";
$menu-merge: "\edb4";
$menu-first2: "\edb5";
$menu-last2: "\edb6";
$menu-arrow-up: "\edb7";
$menu-arrow-up2: "\edb8";
$menu-arrow-up3: "\edb9";
$menu-arrow-up4: "\edba";
$menu-arrow-right: "\edbb";
$menu-arrow-right2: "\edbc";
$menu-arrow-right3: "\edbd";
$menu-arrow-right4: "\edbe";
$menu-arrow-down: "\edbf";
$menu-arrow-down2: "\edc0";
$menu-arrow-down3: "\edc1";
$menu-arrow-down4: "\edc2";
$menu-arrow-left: "\edc3";
$menu-arrow-left2: "\edc4";
$menu-arrow-left3: "\edc5";
$menu-arrow-left4: "\edc6";
$menu-arrow-up5: "\edc7";
$menu-arrow-right5: "\edc8";
$menu-arrow-down5: "\edc9";
$menu-arrow-left5: "\edca";
$menu-arrow-up-left: "\edcb";
$menu-arrow-up6: "\edcc";
$menu-arrow-up-right: "\edcd";
$menu-arrow-right6: "\edce";
$menu-arrow-down-right: "\edcf";
$menu-arrow-down6: "\edd0";
$menu-arrow-down-left: "\edd1";
$menu-arrow-left6: "\edd2";
$menu-arrow-up-left2: "\edd3";
$menu-arrow-up7: "\edd4";
$menu-arrow-up-right2: "\edd5";
$menu-arrow-right7: "\edd6";
$menu-arrow-down-right2: "\edd7";
$menu-arrow-down7: "\edd8";
$menu-arrow-down-left2: "\edd9";
$menu-arrow-left7: "\edda";
$menu-arrow-up-left3: "\eddb";
$menu-arrow-up8: "\eddc";
$menu-arrow-up-right3: "\eddd";
$menu-arrow-right8: "\edde";
$menu-arrow-down-right3: "\eddf";
$menu-arrow-down8: "\ede0";
$menu-arrow-down-left3: "\ede1";
$menu-arrow-left8: "\ede2";
$menu-circle-up: "\ede3";
$menu-circle-right: "\ede4";
$menu-circle-down: "\ede5";
$menu-circle-left: "\ede6";
$menu-circle-up2: "\ede7";
$menu-circle-right2: "\ede8";
$menu-circle-down2: "\ede9";
$menu-circle-left2: "\edea";
$menu-circle-up-left: "\edeb";
$menu-circle-up3: "\edec";
$menu-circle-up-right: "\eded";
$menu-circle-right3: "\edee";
$menu-circle-down-right: "\edef";
$menu-circle-down3: "\edf0";
$menu-circle-down-left: "\edf1";
$menu-circle-left3: "\edf2";
$menu-circle-up-left2: "\edf3";
$menu-circle-up4: "\edf4";
$menu-circle-up-right2: "\edf5";
$menu-circle-right4: "\edf6";
$menu-circle-down-right2: "\edf7";
$menu-circle-down4: "\edf8";
$menu-circle-down-left2: "\edf9";
$menu-circle-left4: "\edfa";
$menu-arrow-resize: "\edfb";
$menu-arrow-resize2: "\edfc";
$menu-arrow-resize3: "\edfd";
$menu-arrow-resize4: "\edfe";
$menu-arrow-resize5: "\edff";
$menu-arrow-resize6: "\ee00";
$menu-arrow-resize7: "\ee01";
$menu-arrow-resize8: "\ee02";
$menu-square-up-left: "\ee03";
$menu-square-up: "\ee04";
$menu-square-up-right: "\ee05";
$menu-square-right: "\ee06";
$menu-square-down-right: "\ee07";
$menu-square-down: "\ee08";
$menu-square-down-left: "\ee09";
$menu-square-left: "\ee0a";
$menu-arrow-up9: "\ee0b";
$menu-arrow-right9: "\ee0c";
$menu-arrow-down9: "\ee0d";
$menu-arrow-left9: "\ee0e";
$menu-arrow-up10: "\ee0f";
$menu-arrow-right10: "\ee10";
$menu-arrow-down10: "\ee11";
$menu-arrow-left10: "\ee12";
$menu-arrow-up-left4: "\ee13";
$menu-arrow-up11: "\ee14";
$menu-arrow-up-right4: "\ee15";
$menu-arrow-right11: "\ee16";
$menu-arrow-down-right4: "\ee17";
$menu-arrow-down11: "\ee18";
$menu-arrow-down-left4: "\ee19";
$menu-arrow-left11: "\ee1a";
$menu-arrow-up-left5: "\ee1b";
$menu-arrow-up12: "\ee1c";
$menu-arrow-up-right5: "\ee1d";
$menu-arrow-right12: "\ee1e";
$menu-arrow-down-right5: "\ee1f";
$menu-arrow-down12: "\ee20";
$menu-arrow-down-left5: "\ee21";
$menu-arrow-left12: "\ee22";
$menu-arrow-up13: "\ee23";
$menu-arrow-right13: "\ee24";
$menu-arrow-down13: "\ee25";
$menu-arrow-left13: "\ee26";
$menu-arrow-up14: "\ee27";
$menu-arrow-right14: "\ee28";
$menu-arrow-down14: "\ee29";
$menu-arrow-left14: "\ee2a";
$menu-circle-up5: "\ee2b";
$menu-circle-right5: "\ee2c";
$menu-circle-down5: "\ee2d";
$menu-circle-left5: "\ee2e";
$menu-circle-up6: "\ee2f";
$menu-circle-right6: "\ee30";
$menu-circle-down6: "\ee31";
$menu-circle-left6: "\ee32";
$menu-arrow-up15: "\ee33";
$menu-arrow-right15: "\ee34";
$menu-arrow-down15: "\ee35";
$menu-arrow-left15: "\ee36";
$menu-arrow-up16: "\ee37";
$menu-arrow-right16: "\ee38";
$menu-arrow-down16: "\ee39";
$menu-arrow-left16: "\ee3a";
$menu-menu-open: "\ee3b";
$menu-menu-open2: "\ee3c";
$menu-menu-close: "\ee3d";
$menu-menu-close2: "\ee3e";
$menu-enter4: "\ee3f";
$menu-enter5: "\ee40";
$menu-esc: "\ee41";
$menu-enter6: "\ee42";
$menu-backspace: "\ee43";
$menu-backspace2: "\ee44";
$menu-tab: "\ee45";
$menu-transmission: "\ee46";
$menu-transmission2: "\ee47";
$menu-sort: "\ee48";
$menu-sort2: "\ee49";
$menu-move-up: "\ee4a";
$menu-move-down: "\ee4b";
$menu-sort-alpha-asc: "\ee4c";
$menu-sort-alpha-desc: "\ee4d";
$menu-sort-numeric-asc: "\ee4e";
$menu-sort-numberic-desc: "\ee4f";
$menu-sort-amount-asc: "\ee50";
$menu-sort-amount-desc: "\ee51";
$menu-sort-time-asc: "\ee52";
$menu-sort-time-desc: "\ee53";
$menu-battery-6: "\ee54";
$menu-battery-5: "\ee55";
$menu-battery-4: "\ee56";
$menu-battery-3: "\ee57";
$menu-battery-2: "\ee58";
$menu-battery-1: "\ee59";
$menu-battery-0: "\ee5a";
$menu-battery-charging: "\ee5b";
$menu-key-keyboard: "\ee5c";
$menu-key-A: "\ee5d";
$menu-key-up: "\ee5e";
$menu-key-right: "\ee5f";
$menu-key-down: "\ee60";
$menu-key-left: "\ee61";
$menu-command: "\ee62";
$menu-shift: "\ee63";
$menu-ctrl: "\ee64";
$menu-opt: "\ee65";
$menu-checkbox-checked: "\ee66";
$menu-checkbox-unchecked: "\ee67";
$menu-checkbox-partial: "\ee68";
$menu-square: "\ee69";
$menu-triangle: "\ee6a";
$menu-triangle2: "\ee6b";
$menu-diamond3: "\ee6c";
$menu-diamond4: "\ee6d";
$menu-checkbox-checked2: "\ee6e";
$menu-checkbox-unchecked2: "\ee6f";
$menu-checkbox-partial2: "\ee70";
$menu-radio-checked: "\ee71";
$menu-radio-checked2: "\ee72";
$menu-radio-unchecked: "\ee73";
$menu-toggle-on: "\ee74";
$menu-toggle-off: "\ee75";
$menu-checkmark-circle: "\ee76";
$menu-circle: "\ee77";
$menu-circle2: "\ee78";
$menu-circles: "\ee79";
$menu-circles2: "\ee7a";
$menu-crop: "\ee7b";
$menu-crop2: "\ee7c";
$menu-make-group: "\ee7d";
$menu-ungroup: "\ee7e";
$menu-vector: "\ee7f";
$menu-vector2: "\ee80";
$menu-rulers: "\ee81";
$menu-ruler: "\ee82";
$menu-pencil-ruler: "\ee83";
$menu-scissors: "\ee84";
$menu-scissors2: "\ee85";
$menu-scissors3: "\ee86";
$menu-haircut: "\ee87";
$menu-comb: "\ee88";
$menu-filter: "\ee89";
$menu-filter2: "\ee8a";
$menu-filter3: "\ee8b";
$menu-filter4: "\ee8c";
$menu-font: "\ee8d";
$menu-ampersand: "\ee8e";
$menu-ligature: "\ee8f";
$menu-ligature2: "\ee90";
$menu-font-size: "\ee91";
$menu-typography: "\ee92";
$menu-text-height: "\ee93";
$menu-text-width: "\ee94";
$menu-height2: "\ee95";
$menu-width: "\ee96";
$menu-bold: "\ee97";
$menu-underline: "\ee98";
$menu-italic: "\ee99";
$menu-strikethrough: "\ee9a";
$menu-strikethrough2: "\ee9b";
$menu-font-size2: "\ee9c";
$menu-bold2: "\ee9d";
$menu-underline2: "\ee9e";
$menu-italic2: "\ee9f";
$menu-strikethrough3: "\eea0";
$menu-omega: "\eea1";
$menu-sigma: "\eea2";
$menu-nbsp: "\eea3";
$menu-page-break: "\eea4";
$menu-page-break2: "\eea5";
$menu-superscript: "\eea6";
$menu-subscript: "\eea7";
$menu-superscript2: "\eea8";
$menu-subscript2: "\eea9";
$menu-text-color: "\eeaa";
$menu-highlight: "\eeab";
$menu-pagebreak: "\eeac";
$menu-clear-formatting: "\eead";
$menu-table: "\eeae";
$menu-table2: "\eeaf";
$menu-insert-template: "\eeb0";
$menu-pilcrow: "\eeb1";
$menu-ltr: "\eeb2";
$menu-rtl: "\eeb3";
$menu-ltr2: "\eeb4";
$menu-rtl2: "\eeb5";
$menu-section: "\eeb6";
$menu-paragraph-left: "\eeb7";
$menu-paragraph-center: "\eeb8";
$menu-paragraph-right: "\eeb9";
$menu-paragraph-justify: "\eeba";
$menu-paragraph-left2: "\eebb";
$menu-paragraph-center2: "\eebc";
$menu-paragraph-right2: "\eebd";
$menu-paragraph-justify2: "\eebe";
$menu-indent-increase: "\eebf";
$menu-indent-decrease: "\eec0";
$menu-paragraph-left3: "\eec1";
$menu-paragraph-center3: "\eec2";
$menu-paragraph-right3: "\eec3";
$menu-paragraph-justify3: "\eec4";
$menu-indent-increase2: "\eec5";
$menu-indent-decrease2: "\eec6";
$menu-share: "\eec7";
$menu-share2: "\eec8";
$menu-new-tab: "\eec9";
$menu-new-tab2: "\eeca";
$menu-popout: "\eecb";
$menu-embed: "\eecc";
$menu-embed2: "\eecd";
$menu-markup: "\eece";
$menu-regexp: "\eecf";
$menu-regexp2: "\eed0";
$menu-code: "\eed1";
$menu-circle-css: "\eed2";
$menu-circle-code: "\eed3";
$menu-terminal: "\eed4";
$menu-unicode: "\eed5";
$menu-seven-segment-0: "\eed6";
$menu-seven-segment-1: "\eed7";
$menu-seven-segment-2: "\eed8";
$menu-seven-segment-3: "\eed9";
$menu-seven-segment-4: "\eeda";
$menu-seven-segment-5: "\eedb";
$menu-seven-segment-6: "\eedc";
$menu-seven-segment-7: "\eedd";
$menu-seven-segment-8: "\eede";
$menu-seven-segment-9: "\eedf";
$menu-share3: "\eee0";
$menu-share4: "\eee1";
$menu-mail: "\eee2";
$menu-mail2: "\eee3";
$menu-mail3: "\eee4";
$menu-mail4: "\eee5";
$menu-amazon: "\eee6";
$menu-google: "\eee7";
$menu-google2: "\eee8";
$menu-google3: "\eee9";
$menu-google-plus: "\eeea";
$menu-google-plus2: "\eeeb";
$menu-google-plus3: "\eeec";
$menu-hangouts: "\eeed";
$menu-google-drive: "\eeee";
$menu-facebook: "\eeef";
$menu-facebook2: "\eef0";
$menu-instagram: "\eef1";
$menu-whatsapp: "\eef2";
$menu-spotify: "\eef3";
$menu-telegram: "\eef4";
$menu-twitter: "\eef5";
$menu-vine: "\eef6";
$menu-vk: "\eef7";
$menu-renren: "\eef8";
$menu-sina-weibo: "\eef9";
$menu-rss: "\eefa";
$menu-rss2: "\eefb";
$menu-youtube: "\eefc";
$menu-youtube2: "\eefd";
$menu-twitch: "\eefe";
$menu-vimeo: "\eeff";
$menu-vimeo2: "\ef00";
$menu-lanyrd: "\ef01";
$menu-flickr: "\ef02";
$menu-flickr2: "\ef03";
$menu-flickr3: "\ef04";
$menu-flickr4: "\ef05";
$menu-dribbble: "\ef06";
$menu-behance: "\ef07";
$menu-behance2: "\ef08";
$menu-deviantart: "\ef09";
$menu-500px: "\ef0a";
$menu-steam: "\ef0b";
$menu-steam2: "\ef0c";
$menu-dropbox: "\ef0d";
$menu-onedrive: "\ef0e";
$menu-github: "\ef0f";
$menu-npm: "\ef10";
$menu-basecamp: "\ef11";
$menu-trello: "\ef12";
$menu-wordpress: "\ef13";
$menu-joomla: "\ef14";
$menu-ello: "\ef15";
$menu-blogger: "\ef16";
$menu-blogger2: "\ef17";
$menu-tumblr: "\ef18";
$menu-tumblr2: "\ef19";
$menu-yahoo: "\ef1a";
$menu-yahoo2: "\ef1b";
$menu-tux: "\ef1c";
$menu-appleinc: "\ef1d";
$menu-finder: "\ef1e";
$menu-android: "\ef1f";
$menu-windows: "\ef20";
$menu-windows8: "\ef21";
$menu-soundcloud: "\ef22";
$menu-soundcloud2: "\ef23";
$menu-skype: "\ef24";
$menu-reddit: "\ef25";
$menu-hackernews: "\ef26";
$menu-wikipedia: "\ef27";
$menu-linkedin: "\ef28";
$menu-linkedin2: "\ef29";
$menu-lastfm: "\ef2a";
$menu-lastfm2: "\ef2b";
$menu-delicious: "\ef2c";
$menu-stumbleupon: "\ef2d";
$menu-stumbleupon2: "\ef2e";
$menu-stackoverflow: "\ef2f";
$menu-pinterest: "\ef30";
$menu-pinterest2: "\ef31";
$menu-xing: "\ef32";
$menu-xing2: "\ef33";
$menu-flattr: "\ef34";
$menu-foursquare: "\ef35";
$menu-yelp: "\ef36";
$menu-paypal: "\ef37";
$menu-chrome: "\ef38";
$menu-firefox: "\ef39";
$menu-IE: "\ef3a";
$menu-edge: "\ef3b";
$menu-safari: "\ef3c";
$menu-opera: "\ef3d";
$menu-file-pdf: "\ef3e";
$menu-file-openoffice: "\ef3f";
$menu-file-word: "\ef40";
$menu-file-excel: "\ef41";
$menu-libreoffice: "\ef42";
$menu-html-five: "\ef43";
$menu-html-five2: "\ef44";
$menu-css3: "\ef45";
$menu-git: "\ef46";
$menu-codepen: "\ef47";
$menu-svg: "\ef48";
$menu-IcoMoon: "\ef49";
